<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.upsoul.jittrnotes">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launch_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_icon_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        tools:replace="android:allowBackup">
        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:name=".view.activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".view.activities.HomeActivity"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>